@page
@model AIRBNB.Views.Shared.UserNavbarModel
@{
}

<nav>
    <a href="/">Início</a>
    <a href="/Dashboard">Meu Dashboard</a>
    <a href="/Dashboard/MyListings">Meus Anúncios</a>
    <a href="/Account/Logout">Sair</a>
</nav>
